<p>teste works!</p>
<p>Atributo: {{atributo}}</p>
<p>Padrão: {{atributoPadrao}}</p>
<p class="estilo">Estilo do teste</p>

<p *ngIf="mostrando else naoMostrando">Renderaização condicional</p>
<ng-template #naoMostrando><p>Condição funcionando</p></ng-template>
<button class="border border-black" (click)="mostrando = !mostrando">Clique para mudar isso</button>
<br>
<button (click)="onEvent()">Clique aqui para emitir um evento</button>

<h1>Lista renderizada</h1>
<div *ngFor="let item of listaParaRenderizar">
  <p>A letra do alfabeto agora é {{item}}</p>
</div>

<div>
  {{variavelQueMuda}}
</div>

<p>{{"Pipe operator"}}</p>
<p>{{"Pipe operator" | uppercase}}</p>
<p>{{"Pipe operator" | lowercase}}</p>
<p>{{"Pipe operator" | titlecase}}</p>

<form>
  <label>
    Two way data biding
    <input type="text" [(ngModel)]="inputDoInput" name="name" placeholder="formModel"/>
  </label>
  <input type="submit">
  <p>O input do input é {{inputDoInput}}</p>
</form>
<hr>
